<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>RU Fly</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"><img class="rutRPic" src="/img/rutgersR.png"></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/listings">Restaurants</a></li>
            <li><a href="/restinfo">More Info</a></li>
          </ul>
        </div>
      </nav>
    </div>


    {{{ body }}}



    <footer class="page-footer orange">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
            </ul>
          </div>
        </div>
      </div>

      {{#if isAuthenticated}}
      <div class="teal" style="position:fixed;right:0px; bottom:0px"> <i class="material-icons">recent_actors</i>{{ user.username }}</div>
      {{else}}
      <div class="teal" style="position:fixed;right:0px; bottom:0px"> <i class= "material-icons">recent_actors</i>Please Log In</div>
      {{/if}}
    {{!--   <div class="footer-copyright">
        <div class="container">
        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Steph, Victor, Tammer</a>
        </div>
      </div> --}}
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb064_DSV_7-hDkL6J3dvQuD7-kcOVKr8&callback=initMap"></script>
    <script type"text/javascript" src="/scripts/googleMaps.js"></script>
    <script type="text/javascript" src="http://api.filestackapi.com/filestack.js"></script>
    <script type="text/javascript" src="/scripts/components.js"></script>
  </body>
</html>
