
{{!-- The main body section with modal and parallax code --}}
<div class="container-fluid trans">
  <h1 class="center teal-text text-lighten-2">Rutgers Food Review</h1>
  <div class="row center">
    <h5 class="header col s12 teal-text">RATE YOUR FAVORITE SPOTS TO EAT FOOD ON CAMPUS</h5>
  </div>
  <div class="row center">
      <form method="GET" action=/listings>
        <button class="btn btn-primary red accent-2" type="Submit">Restaurant Listings</button>
      </form>
      <br />
      <form method="GET" action=/restInfo>
        <button class="btn btn-primary red accent-2" type="Submit">Restaurant Info</button>
      </form>
  </div>
  <div class="parallax"><img src="https://rudebate.files.wordpress.com/2009/10/old_queens.jpg" alt="food">
  </div>
</div>
