<div class="parallax-container">
  <div class="parallax"><img src="https://rudebate.files.wordpress.com/2009/10/old_queens.jpg" alt="food">
  </div>
</div>
{{!-- The main body section with modal and parallax code --}}
  <div class="container">
    <h1 class="header center teal-text text-lighten-2">Rutgers Food Review</h1>
    <div class="row center">
      <h5 class="header col s12 orange-text">RATE YOUR FAVORITE SPOTS TO EAT FOOD ON CAMPUS</h5>
    </div>
    <div class="row center">
      <form method="GET" action=/listings>
        <button class="btn btn-primary" type="Submit">Restaurant Listings</button>
      </form>
      <form method="GET" action=/restInfo>
        <button class="btn btn-primary" type="Submit">Restaurant Info</button>
      </form>
    </div>
