<div class="container">
  <div class="row">
    {{#each restaurant}}
      <h3>{{this.name}}:<span>{{this.cuisine}}</span></h3>
      <h4>{{this.address}} {{this.phone}}</h4>
    {{/each}}
  </div>
</div>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <br>
    <div class="row center">
      <p>Have a favorite restaurant not listed here? Add it to our database!</p>
      <a class="modal-trigger waves-effect waves-light btn" href="#addRestModal">Add Restaurant</a>
    </div><br>
    <br>
  </div>
</div>

<div class="modal modal-fixed-footer" id="addRestModal">
  <div class="modal-content">
    <h4>Add Restaurant</h4>
    <p></p>
    <div class="row">
      <form method="POST" action="/addRes" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">business</i> <input class="validate" id="restName" name="restName" type="text"> <label for="restName">Restaurant Name</label>
          </div>
          <div class="input-field col s6">
            <input class="validate" id="cuisine" name="cuisine" type="text"> <label for="cuisine">Type of Food</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">room</i> <input class="validate" id="address" name="address" type="text"> <label for="address">Address</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">call</i> <input class="validate" id="phone" name="phone" type="number" min="7" max="14"> <label for="phone">Phone Number</label>
          </div><button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Submit</button>
        </div>

      </form>
    </div>
    <p></p>
  </div>
  <!-- <div class="modal-footer">
     <a class="modal-action modal-close waves-effect waves-green btn-flat" href="#!">Close</a>
  </div> -->
</div>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Restaurant info</h1>
    <div class="row center">
      <h5 class="header col s12 light">Here are some different restaurants around campus</h5>
    </div>
  </div>
</div>
