<div class="restInfo">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row">
      <h1 class="header center orange-text">Restaurant info</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 googleMap" id="map">
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="icon-food"></i></h2>
          <h5 class="center">Find Great places to eat</h5>

          <p class="light">We did most of the heavy lifting for you to provide a place to find a great place to eat</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Get the information you want, fast.</h5>

          <p class="light">With a concise library created by users, for users, RUFly gives users the information they need with none of the bloat.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Reviews to help with choices</h5>

          <p class="light">Users can leave reviews and comment on each others reviews. No need to take a chance on a restaurant you may not enjoy!</p>
        </div>
      </div>
    </div>
  </div>
</div>
