.rLogo {
  height: 100px;
  width: 100px;
}
.listTrans{
  background-color: rgba(0, 0, 0, .4);
}
#listing-banner{
  background: url("/img/breakfast.jpg");
  background-size: cover;
  background-position: 75% 42%;
}
.restInfo{
  background-color: #E51937;
}
nav{
  top: 0;
  position: fixed;
  width: 100%;
}
footer{
  position:fixed;
  bottom: 0;
  width: 100%;
}
.rutRPic{
  height: 50px;
  width: 50px;
}
.rest-cuisine {
  font-style: italic;
}
footer.page-footer.orange {
  margin-top: 0;
}
.googleMap{
  margin-left: auto;
  margin-right: auto;
}

#map{
  text-align: center;
  height: 400px;
  width: 500px;
}
.light{
  font-size: 18px;
}
