.rLogo {
  height: 100px;
  width: 100px;
}
.authors{
  right: 0;
}
.title{
  color:white;
}
.fixed{
  position: fixed;
}
.trans {
    background-color: rgba(0,0,0,.5);
}
.containerInfo{
  background-image: url("/img/rutgersUniversity.jpg");
  height:auto;
  width:auto;
}
.descriptionInfo{
  color: white;
}
.listTrans{
  background-color: rgba(0, 0, 0, .4);
}
.section.no-pad-bot{
  padding-top: 0;
}
#listing-banner, #listing-banner-sort{
  background: url("/img/breakfast.jpg");
  background-size: cover;
  background-position: 75% 42%;
}
footer{
  position:fixed;
  bottom: 0;
  width: 100%;
}
.rutRPic{
  height: 50px;
  width: 50px;
}
.rest-cuisine {
  font-style: italic;
}
footer.page-footer{
  margin-top: 0;
}
}
.googleMap{
  margin-left: auto;
  margin-right: auto;
}

#map{
  height: 400px;
  width: 100%;
}
.light{
  font-size: 18px;
}

.space {
  margin-top: 8px;
}
.btn, .btn-large {
  background-color: #545454
}
.btn:hover, .btn-large:hover {
  background-color: #7F8E8C
}
.card-panel {
  background-color: #5A5353
}
.parallax-container {
  min-height: 180px;
  line-height: -10;
  height: fill;
}

.parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


