.restInfo{
  background-color: #E51937;
}
.trans {
  background-color: rgba(0, 0, 0, .4);
}

footer.page-footer.orange {
  margin-top: 0;
}
.googleMap{
  margin-left: auto;
  margin-right: auto;
}

#map{
  text-align: center;
  height: 400px;
  width: 500px;
}
